* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.right-container {
  max-width: 1305px;
  margin-left: auto;
  background-color: springgreen;
}

.col-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.black-ahref {
  color: #333333;
}

.buttons {
  border: none;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.button:hover {
  transform: scale(1.1);
}

h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
}

.big-p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.p-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.5;
}

.abst {
  position: absolute;
}

body {
  margin: 0 auto;
  background-color: #ffffff;
}

header {
  background: linear-gradient(224.72deg, #3023ae -1%, #c86dd7 100.5%);
  overflow: hidden;
}

header > .oval-container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  background-color: lightcoral;
}

.oval {
  background: linear-gradient(224.72deg, #3023ae -1%, #c86dd7 100.5%);
  border-radius: 50%;
}

.oval-container {
  max-width: 1440px;
  margin: 0 auto;
}

.oval-100 {
  height: 100px;
  width: 100px;
  right: 788px;
  top: 721px;
}

.oval-396 {
  height: 396px;
  width: 396px;
  top: 506px;
  left: 1180px;
}

.oval-156 {
  height: 156px;
  width: 156px;
  top: 180px;
  left: 1147px;
}

.oval-78 {
  height: 78px;
  width: 78px;
  top: 53px;
  left: 1411px;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 63.5px;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}

nav ul {
  display: flex;
  gap: 30px;
}

li {
  list-style: none;
}

nav ul li {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
nav ul li a:hover {
  color: #ffc300;
}

.cta {
  padding-left: 47px;
  padding-right: 47px;
  border: 1px solid rgba(255, 255, 255, 0.295063);
  color: #ffffff;
}

.cta:hover {
  transition: background-color 0.2s ease-in;
  background-color: #ffc300;
}

.hid-menu {
  display: flex;
  flex-direction: column;
  display: none;
}

.-hid-menu {
  height: 3px;
  width: 20px;
  background: #c86dd7;
  margin-bottom: 3px;
}

.omnis-voluptas {
  display: flex;
  align-items: flex-start;
}

.left-omnis-voluptas {
  padding: 86px 0 204px;
}

.right-omnis-voluptas {
  transform: translatex(5px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 627px;
  position: relative;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
  color: #ffffff;
}

.left-omnis-voluptas p {
  color: #ffffff;
  padding: 26px 98px 46px 0;
}

.left-omnis-voluptas a {
  padding-left: 58px;
  padding-right: 58px;
  background-color: #ffc300;
}

.social-media {
  display: flex;
  gap: 8px;
  bottom: 48px;
}

.social-media img:hover {
  transform: scale(1.2);
}

.corporis-suscipit-laboriosam {
  display: flex;
  padding: 96px 0 128px;
}

.left-corporis-suscipit-laboriosam {
  padding-top: 45px;
}

.right-corporis-suscipit-laboriosam {
  position: relative;
  transform: translateX(135px);
}

.left-corporis-suscipit-laboriosam h2 {
  padding: 18px 0 55px;
}

.left-corporis-suscipit-laboriosam .p-text {
  padding: 8px 0 46px;
}

.last {
  padding-top: 24px;
}

.left-corporis-suscipit-laboriosam img {
  margin-left: 8px;
  padding-top: 5px;
}

.open-p {
  display: flex;
  align-items: center;
  position: relative;
}

.underline::after {
  content: "";
  height: 8px;
  width: 161px;
  background-color: #c86dd7;
  position: absolute;
  top: 15px;
  z-index: -1;
}

.right-img-corporis-suscipit-laboriosam img {
  height: 544px;
  width: 672px;
}

.box-shadow {
  background: linear-gradient(235.13deg, #3023ae -62.75%, #c86dd7 106.66%);
  height: 544px;
  width: 705px;
  border-radius: 3px 0px 0px 3px;
  top: 32px;
  right: 0px;
  z-index: -1;
}

.video {
  top: 224px;
  left: -72px;
}

.video:hover {
  transform: scale(1.4);
}

.video-icon {
  position: relative;
}

.oval-video {
  background: #ffffff;
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.101959);
  height: 116px;
  width: 116px;
  border-radius: 50%;
}

.video-icon img {
  top: 45px;
  left: 50px;
}

.ullam-corporis-suscipit {
  padding: 61px 0 49px;
  margin-left: 100px;
  padding-right: 100px;
}

.ullam-corporis-suscipit-top {
  padding: 18px 0 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ullam-corporis-suscipit-top p {
  max-width: 570px;
}

.ullam-corporis-suscipit-cards {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding: 42px 0 48px;
}

.ullam-corporis-suscipit-menu a {
  margin-right: 31px;
}

.ullam-corporis-suscipit-menu a:hover {
  opacity: 1;
  font-weight: bold;
}

.content-hover {
  position: relative;
}

.hid-hover {
  bottom: 0;
  padding: 0 0 26px 35px;
  visibility: hidden;
}

.img-hover:hover {
  background: #d8d8d8;
  mix-blend-mode: normal;
  border-radius: 3px;
  background: #7f7f7f;
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.10394);
  border-radius: 3px;
  filter: grayscale(100%);
  filter: opacity(0.25);
}

.img-hover:hover + .hid-hover {
  visibility: visible;
}

.p-btn {
  padding-left: 52.5px;
  padding-right: 52.5px;
  background-color: #c86dd7;
}

.fugiat-quo {
  padding: 62px 0 80px;
}

.fugiat-quo > p {
  padding: 23px 0 32px;
}

.fugiat-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 12px 0px;
}

.fugiat-card {
  width: 370px;
  height: 224px;
  padding: 40px 24px 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}

.fugiat-card:hover {
  background-color: #ffffff;
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
  border-radius: 3px;
  transform: scale(1.15);
}

.fugiat-card h4 {
  position: relative;
}

.fugiat-card:hover h4::before {
  content: "";
  height: 8px;
  width: 100%;
  background-color: #c86dd7;
  position: absolute;
  bottom: 11px;
  left: 0px;
  z-index: -1;
}

.img-1 {
  bottom: 130px;
  left: 163px;
}

.img-2 {
  bottom: 132px;
  left: 157px;
}

.img-3 {
  bottom: 130px;
  left: 165px;
}

.img-4 {
  bottom: 134px;
  left: 159px;
}

.img-5 {
  bottom: 130px;
  left: 161px;
}

.img-6 {
  bottom: 144px;
  left: 161px;
}

.img-7 {
  bottom: 132px;
  left: 182px;
}

.img-8 {
  bottom: 130px;
  left: 161px;
}

.img-9 {
  bottom: 136px;
  left: 164px;
}

.img-10 {
  bottom: 130px;
  left: 178px;
}

.img-11 {
  bottom: 140px;
  left: 178px;
}

.img-12 {
  bottom: 129px;
  left: 164px;
}

.img-13 {
  bottom: 146px;
  left: 184px;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.fugiat-card h4 {
  color: #333333;
  padding: 13px 0 9px;
}

.blue-bg {
  background-color: #3023ae;
  overflow-y: hidden;
}

.blue-bg > .oval-container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background-color: lightcoral;
  z-index: 200;
}

.oval-100-1 {
  height: 100px;
  width: 100px;
  left: 735px;
  top: 0px;
}

.oval-323 {
  height: 323px;
  width: 323px;
  top: 567px;
  left: -119px;
}

.oval-140 {
  height: 140px;
  width: 140px;
  top: 718px;
  left: 650px;
}

.temporibus-quibusdam {
  padding: 173px 0 222px;
  display: flex;
  position: relative;
}

.left-temporibus-quibusdam img:first-child {
  bottom: 278px;
  left: 385px;
}

.left-temporibus-quibusdam img:nth-child(2) {
  bottom: 167px;
  left: 270px;
}

.left-temporibus-quibusdam img:nth-child(3) {
  bottom: 217px;
  left: 53px;
}

.left-temporibus-quibusdam img:nth-child(4) {
  bottom: 395px;
  left: 340px;
}

.left-temporibus-quibusdam img:nth-child(5) {
  bottom: 392px;
  left: 23px;
}

.moon {
  margin-left: 100px;
  margin-right: 230px;
  filter: opacity(0.2);
}

.right-temporibus-quibusdam h5 {
  color: #ffffff;
}

.right-temporibus-quibusdam h2 {
  color: #ffffff;
  padding: 18px 0 23px;
}

.right-temporibus-quibusdam p {
  color: #ffffff;
  padding-bottom: 44px;
}

.right-temporibus-quibusdam a {
  padding-left: 52px;
  padding-right: 52px;
  background-color: #ffc300;
}

.officis-debitis {
  padding-top: 71px;
}

.officis-debitis > p {
  padding: 23px 0 64px;
}

.officis-cards {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.officis-card {
  padding: 32px 32px 42px;
  background: #ffffff;
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
  border-radius: 3px;
  width: 370px;
}

.officis-card .p-text {
  padding: 14px 0 16px;
}

.logos {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  align-self: stretch;
  align-items: center;
  padding: 70px 0;
  opacity: 0.6;
}

.logos a:hover {
  transform: scale(1.3);
  opacity: 1;
}

.pink-bg {
  background-color: #fdf2ff;
}

.omnis-voluptas-assumenda {
  padding: 112px 0;
  display: flex;
}

.left-omnis-voluptas-assumenda {
  padding-right: 100px;
}

.left-omnis-voluptas-assumenda h5 {
  padding: 61px 0 18px;
}

.left-omnis-voluptas-assumenda p {
  padding: 23px 0 44px;
}

.left-omnis-voluptas-assumenda a {
  padding-left: 54.5px;
  padding-right: 54.5px;
  background-color: #c86dd7;
}

.right-img-omnis-voluptas-assumenda {
  position: relative;
}

.right-img-omnis-voluptas-assumenda img {
  z-index: 2;
  position: relative;
  border-radius: 3px;
}

.box-shadow-2 {
  background: linear-gradient(224.72deg, #3023ae -1%, #c86dd7 100.5%);
  border-radius: 3px;
  top: 32px;
  left: -30px;
  z-index: 1;
  height: 544px;
  width: 570px;
}

.right-omnis-voluptas-assumenda-card {
  bottom: 0px;
  z-index: 3;
  padding: 0 48px 46px;
}

.right-omnis-voluptas-assumenda-card > p {
  padding: 9px 0 16px;
  color: #ffffff;
}

.name {
  display: flex;
  align-items: center;
}
.name p {
  margin-left: 20px;
  color: #ffffff;
}

footer {
  background-image: url(./images/footer-bg.png);
  padding: 135px 0 74px;
}

.contact-us > p {
  padding-top: 23px;
}

.email {
  display: flex;
  align-items: center;
  padding: 32px 0 160px;
}

.email a {
  padding-left: 54.5px;
  padding-right: 54.5px;
  background-color: #c86dd7;
}

input {
  padding: 12px 200px 12px 16px;
  margin-right: 30px;
  border: 1px solid #dadada;
  border-radius: 3px;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 46px;
}

.bottom-footer ul li {
  padding-top: 15px;
}

.bottom-footer li:hover {
  /* transition: 0.1s ease-in; */
  opacity: 1;
  font-weight: bold;
}

.bottom-footer img {
  margin: 0 6px 14px 0;
}

.bottom-footer img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 56px;
    line-height: 64px;
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
  }

  .oval-100 {
    height: 59px;
    width: 59px;
    right: 325px;
    top: 729px;
  }

  .oval-396 {
    height: 232px;
    width: 232px;
    top: 603px;
    left: 261px;
  }

  .oval-156 {
    height: 91px;
    width: 91px;
    top: 420px;
    left: 331px;
  }

  .oval-78 {
    height: 46px;
    width: 46px;
    top: 338px;
    left: 358px;
  }

  .top-header {
    padding: 16px 14px;
    background-color: #ffffff;
  }

  .logo {
    font-size: 24px;
    line-height: 32px;
    color: #333333;
  }

  .hid-menu {
    display: block;
  }

  nav {
    display: none;
  }

  .cta {
    display: none;
  }

  .omnis-voluptas {
    flex-direction: column;
    padding-left: 14px;
    padding-right: 14px;
  }

  .left-omnis-voluptas {
    padding: 23px 0 14.5px;
  }

  .left-omnis-voluptas p {
    padding: 23px 0 46px;
  }

  .right-omnis-voluptas {
    transform: translatex(0px);
    align-items: center;
    height: 333px;
  }

  .right-omnis-voluptas > img {
    width: 100%;
    transform: translatex(11px);
  }

  .social-media {
    bottom: 32px;
  }

  .corporis-suscipit-laboriosam {
    flex-direction: column;
    padding: 45px 0 64px;
  }

  .left-corporis-suscipit-laboriosam {
    padding: 0 14px 58px 14px;
  }

  .left-corporis-suscipit-laboriosam h2 {
    padding: 17px 0 40px;
  }

  .left-corporis-suscipit-laboriosam .p-text {
    padding: 8px 0 30px;
  }

  .left-corporis-suscipit-laboriosam img {
    margin-left: 7px;
  }

  .right-corporis-suscipit-laboriosam {
    transform: translateX(36px);
  }

  .right-img-corporis-suscipit-laboriosam img {
    height: 272px;
    width: 339px;
    padding: 0;
  }

  .box-shadow {
    height: 272px;
    width: 355px;
    top: 16px;
    right: 36px;
  }

  .video {
    top: 112px;
    left: 138px;
  }

  .oval-video {
    height: 58px;
    width: 58px;
  }

  .video-icon img {
    top: 22px;
    left: 25px;
    height: 13px;
    width: 13px;
  }

  .ullam-corporis-suscipit {
    padding: 29px 14px 60px 14px;
    margin-left: 0px;
  }

  .ullam-corporis-suscipit-top {
    padding: 17px 0 46px;
    flex-direction: column;
  }

  .ullam-corporis-suscipit-top p {
    padding-top: 24px;
  }

  .ullam-corporis-suscipit-menu > a {
    display: inline-block;
    margin-right: 31px;
    padding-bottom: 24px;
  }

  .ullam-corporis-suscipit-cards {
    flex-direction: column;
    justify-content: flex-start;
    padding: 18px 0 46px;
    gap: 17px;
  }

  .ullam-corporis-suscipit-cards img {
    height: 254px;
    width: 346px;
  }

  .hid-hover {
    /* visibility: visible; */
  }
  .fugiat-quo {
    padding: 38px 14px 64px;
  }

  .fugiat-quo > p {
    padding: 24px 0 32px;
    text-align: center;
  }

  .fugiat-cards {
    gap: 28px;
  }

  .fugiat-card {
    height: 180px;
    padding: 0px 27px 0px;
  }

  .img-1 {
    bottom: 104px;
  }

  .img-2 {
    bottom: 106px;
  }

  .img-3 {
    bottom: 104px;
  }

  .img-4 {
    bottom: 108px;
  }

  .img-5 {
    bottom: 104px;
  }

  .img-6 {
    bottom: 118px;
  }

  .img-7 {
    bottom: 106px;
  }

  .img-8 {
    bottom: 104px;
  }

  .img-9 {
    bottom: 110px;
  }

  .img-10 {
    bottom: 104px;
  }

  .img-11 {
    bottom: 114px;
  }

  .img-12 {
    bottom: 103px;
  }

  .img-13 {
    bottom: 119px;
  }

  .blue-bg > .oval-container {
    z-index: 0;
  }

  .oval-100-1 {
    left: 325px;
    top: -29px;
  }

  .oval-323 {
    top: 751px;
    left: -119px;
  }

  .oval-140 {
    top: 822px;
    left: 305px;
  }

  .temporibus-quibusdam {
    padding: 100px 14px 92px;
    flex-direction: column;
  }
  .moon {
    margin-left: 25px;
    margin-right: 25px;
    height: 302px;
    width: 297px;
  }

  .right-temporibus-quibusdam h5 {
    padding-top: 43px;
  }

  .right-temporibus-quibusdam h2 {
    padding: 17px 0 24px;
  }

  .right-temporibus-quibusdam p {
    padding-bottom: 43px;
  }

  .left-temporibus-quibusdam img:first-child {
    height: 41px;
    width: 40px;
    bottom: 538px;
    left: 81.33%;
  }

  .left-temporibus-quibusdam img:nth-child(2) {
    bottom: 447px;
    left: 57.07%;
    height: 67px;
    width: 66px;
  }

  .left-temporibus-quibusdam img:nth-child(3) {
    bottom: 477px;
    left: 10.4%;
    height: 93px;
    width: 92px;
  }

  .left-temporibus-quibusdam img:nth-child(4) {
    bottom: 620px;
    left: 71.47%;
    height: 93px;
    width: 92px;
  }

  .left-temporibus-quibusdam img:nth-child(5) {
    height: 139px;
    width: 136px;
    left: 3.73%;
    bottom: 640px;
  }
  .officis-debitis {
    padding: 54px 14px 0 14px;
  }

  .officis-debitis > p {
    padding: 24px 0 48px;
    text-align: center;
  }

  .officis-cards {
    flex-direction: column;
    gap: 16px;
  }

  .officis-card {
    padding: 32px 30px 42px;
    width: 346px;
  }

  .logos {
    display: grid;
    gap: 20px;
    grid-template: repeat(3, 60px) / 1fr 1fr;
    align-self: center;
  }

  .pink-bg {
    padding: 45px 14px 68px 14px;
  }

  .omnis-voluptas-assumenda {
    padding: 0;
    flex-direction: column;
  }

  .left-omnis-voluptas-assumenda {
    padding-right: 0;
  }

  .left-omnis-voluptas-assumenda h5 {
    padding: 0 0 17px;
  }

  .left-omnis-voluptas-assumenda p {
    padding: 24px 0 41px;
  }

  .right-img-omnis-voluptas-assumenda {
    padding-top: 60px;
  }

  .right-img-omnis-voluptas-assumenda > img {
    height: 316px;
    width: 329px;
    left: 17px;
  }

  .box-shadow-2 {
    top: 80px;
    left: 0px;
    height: 316px;
    width: 329px;
  }

  .right-omnis-voluptas-assumenda-card {
    padding: 0 9px 26px 46px;
  }

  .right-omnis-voluptas-assumenda-card > p {
    padding: 9px 0 21px;
  }

  footer {
    background-image: url(./images/footer-bg.png);
    padding: 70px 0 58px;
  }

  .contact-us {
    padding: 0 14px;
  }

  .contact-us > p {
    padding-top: 24px;
    text-align: center;
  }

  .email {
    padding: 30px 0 76px;
    flex-direction: column;
  }

  .email a {
    padding-left: 67px;
    padding-right: 67px;
    /* padding-top: 24px; */
  }

  input {
    margin-bottom: 24px;
    padding: 12px 160px 12px 16px;
    margin-right: 0;
  }

  .bottom-footer {
    align-items: flex-start;
    padding: 0 14px;

    flex-direction: column;
  }
  .bottom-footer ul {
    padding-bottom: 33px;
  }

  .bottom-footer img {
    margin-top: 25px;
  }
}
